:root {
  /* Primary Colors*/
  --clr--pale-blue: hsl(225, 100%, 94%);
  --clr--bright-blue: hsl(245, 75%, 52%);

  /*Neutral Colors */
  --clr--very-pale-blue: hsl(225, 100%, 98%);
  --clr--desaturated-blue: hsl(224, 23%, 55%);
  --clr--dark-blue: hsl(223, 47%, 23%);

  /* Font-Size */
  --fs--primary: 1rem;

  /* Font-Family */
  --fm--main: "Red Hat Display", sans-serif;

  /* Font Weight */
  --fw--regular: 500;
  --fw--bold: 700;
  --fw--very-bold: 900;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: var(--fm--main);
  font-size: var(--fs--primary);
  font-weight: var(--fw--regular);
  color: var(--clr--desaturated-blue);
}

.content {
  background: url(images/pattern-background-mobile.svg) no-repeat center center
    fixed;
  background-color: var(--clr--very-pale-blue);
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .content {
    background: url(images/pattern-background-desktop.svg) no-repeat center
      center fixed;
    background-position-y: -300px;
  }

  .payment__summary {
    width: 400px !important;
  }
}

.payment__summary {
  display: grid;
  width: 325px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 20px 20px var(--clr--pale-blue);
  background-color: white;
}

.payment__details {
  text-align: center;
  padding: 1.5rem;
}

.payment__details_content {
  display: grid;
  gap: 1.5rem;
}

.payment__details_header {
  font-weight: var(--fw--very-bold);
  color: var(--clr--dark-blue);
}

.flex__group1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr--very-pale-blue);
  padding: 1rem;
  border-radius: 0.8rem;
  min-width: 0;
}

.flex__group2 {
  display: flex;
  gap: 1rem;
}

.plan {
  font-weight: var(--fw--bold);
  color: var(--clr--dark-blue);
}

.plan__change {
  font-size: 0.9rem;
  font-weight: var(--fw--bold);
  text-decoration: underline;
  color: var(--clr--bright-blue);
}

.plan__change:hover {
  opacity: 0.7;
  cursor: pointer;
}

.button {
  background-color: var(--clr--bright-blue);
  text-decoration: none;
  border: none;
  padding: 0.8rem;
  border-radius: 0.8rem;
  font-weight: var(--fw--bold);
  color: var(--clr--very-pale-blue);
  box-shadow: 0 10px 10px -2px var(--clr--desaturated-blue);
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.payment__details_cancel {
  font-weight: var(--fw--bold);
}

.payment__details_cancel:hover {
  color: var(--clr--dark-blue);
  cursor: pointer;
}
